@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color-scheme: dark;
  background-color: #0a0a0a;
  color: #e5e5e5;
}

::-webkit-scrollbar {
  width: 24px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-clip: padding-box;
  border-width: 8px;
  border-color: rgb(0 0 0 / 0);
  border-style: solid;
  background-color: #262626;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #404040;
}

.tooltip-container {
  @apply rounded-md border border-neutral-600 bg-neutral-800 px-2.5 py-1 text-sm;
}

.tooltip-item {
  @apply flex items-center gap-x-1;
}

.tooltip-block-color {
  @apply block size-2 rounded-full;
}
